<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Registrate | PetAccessories</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css%}  
    {% bootstrap_javascript%}
    <link rel="stylesheet" href="{% static 'css/Registro.css'%}">
  </head>
  <body>
    <div class="container">
      <form
        method="POST"
        action=""
        id="formulario"
      >
      {% csrf_token %}
        <h1>Registro de usuario</h1>
        <div class="mb-3">
          <label for="correo" class="form-label">Correo electrónico:</label>
          <input
            type="email"
            class="form-control"
            id="correo"
            name="correo"
            required
          />
        </div>

        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            required
          />
        </div>

        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido:</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            name="apellido"
            required
          />
        </div>
        

        

        <div class="mb-3">
          <label for="regiones" class="form-label">Region</label>
          <select name="regiones" id="regiones" onchange="cargar_region()" class="form-control">
            <option value="">Seleccione una region</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="comunas" class="form-label">Comunas</label>
          <select name="comunas" id="comunas" onchange="" class="form-control">
            
            <option value="">Seleccione un comuna</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="direccion" class="form-label">Dirección:</label>
          <input
            type="text"
            class="form-control"
            id="direccion"
            name="direccion"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit" id="enviar">
            Registrarse
          </button>
        </div>

      </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>  
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/function.js' %}"></script>
  </body>
</html>
